
*{
    margin: 0;
    font-family: Roboto;
}
body{
    overflow-x: hidden;
}
ul>li{
    list-style: none;
    font-weight: 700;
}

ul{
    display: flex;
    gap: 30px;
}

nav{
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff9ea;
}
.first-btn{
    font-weight: 700;
    height: 38px;
    width: 122px;
    border-radius: 50px;
    background-color: #ffcb45;
}
.hero-container{
    background-image: url(../images/shapes.png);
    height: 90vh;
    background-repeat:no-repeat;
    background-size: cover;
}
.heading{
    font-size: 60px;
    margin-bottom: 22px;
}
.hero-contend{
    display: flex;
    justify-content: space-around;
}
.hero-first{
    display: flex;
    align-items: center;
}
.works{
    margin-top: 80px;
    text-align: center;
}
.service{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    gap: 160px;
    justify-content: center;
}
.popular-contend{
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.items{
    background-color:aliceblue;
    padding: 20px;
}
.review-container{
display: flex;
margin-bottom: 50px;
}
.img-container{
    margin-left: 160px;
}
.review-card{
    margin-top: 32px;
    display: flex;
    gap: 24px;
}
.cards{
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 15px;

}
/* discount style */
.discount-container{
    background-image: url(../images/9.png);
     background-size:contain;
     height:332px;
     background-position: center;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 80px;

}
.footer-container{
    background-image: url(../images/footer.png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 84px;
    margin-bottom: 80px;

}
.logo-2{
    margin-bottom: 40px;
    height: 47px;
    width: 167px;
}
.dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


